<h1>ユーザー一覧</h1>
<p>本好きメンバー</p>
<% @end_users.each do |end_user| %>
<div>
  <%= link_to end_user_path(end_user) do %>
    <%= image_tag end_user.get_profile_image("100x100") %>
    <%= end_user.nickname %>
  <% end %>
  <%= end_user.introduction %>
</div>
<% end %>


