
<div class= "container px-5 px-sm-0">
  <div class="row">

      <h2 class="text-dark py-4 md-0">プロフィール</h2>
      <%= render 'public/end_users/profile', end_user: @end_user, following_users: @following_users, follower_users: @follower_users %>

</div>


<%= link_to "登録した本", books_path(end_user_id: @end_user.id), class: "btn btn-lg px-4 btn-info" %>
<%= link_to "出品一覧", new_sale_path, class: "btn btn-lg px-4 btn-info" %>

<h3>最新のレビュー</h3>
<% if @reviews.present? %>
  <%= render "public/reviews/index", reviews: @reviews %>
<% else %>
<p>ご登録の本はございません。</p>
<% end%>



