<%- if controller_name != 'sessions' %>
  <div class="btn">
    <%= link_to "ログイン", new_session_path(resource_name), class: "btn btn-sm btn-primary" %><br />
  </div>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="btn">
    <%= link_to "新規登録", new_registration_path(resource_name), class: "btn btn-sm btn-success" %><br />
  </div>
<% end %>