 <!--イイね機能-->
    <% if review.favorited_by?(current_end_user) %>
      <p>
        <%= link_to review_favorites_path(review), method: :delete, remote: true do %>
          <i class="fas fa-heart"></i><%= review.favorites.count %>イイね
        <% end %>
      </p>
    <% else %>

      <p>
        <%= link_to review_favorites_path(review), method: :post, remote: true do %>
          <i class="far fa-heart"></i><%= review.favorites.count %>イイね
        <% end %>
      </p>
    <% end %>
 <!--/イイね機能-->
