<h1>投稿したレビュー一覧</h1>

<% @reviews.each do |review| %>
<%= link_to (image_tag(review.book.medium_image_url)), review.book.item_url %>
<%= review.book.title %>
<%= review.heading %>
<%= review.blog %>
<% end %>