<div class= "container px-sm-0">
  <div class="row py-4">
    <div class= "col-md-7 offset-md-1">
      <h3 class="text-dark py-4 md-0">下書き</h3>
          </ul>

      <div class = "card-list py-1 col-12">
        <%= render "public/reviews/index", reviews: @reviews %>
      </div>
    </div>
    <div class= "col-md-4 py-4 bg-light h-100">
      <%= render 'public/books/rakuten_search' %>
    <div class="py-3">
      <%= render 'public/searchs/search' %>
    </div>
    <div class= "mt-4">
      <h3>カテゴリー</h3>
      <%= render 'public/categories/index', categories: @categories %>
    </div>

  </div>
  </div>
</div>
