<h4 class="text-center">カテゴリー</h3>
<div class="row align-items-start">
  <% categories.each do |category| %>
    <div class="col">
      <%= link_to category_path(category) do %>
        <%= button_tag category.name, class: "btn btn-sm btn-info mx-2" %>
      <% end %>
    </div>
  <% end %>
  <%= paginate categories %>
</div>