<div class="container">
  <h2 class="col-12 py-4">全ての出品本一覧</h2>
  <% if @sales.present? %>
    <%= render 'public/sales/index', sales: @sales %>
  <% else %>
    <p class ="col-12 mx-2">出品されている本はございません。</p>
  <% end %>
</div>