<footer class= "bg-dark text-white pt-5 pd-4">
  <div class= "container">
    <div class= "row no-gutters">
      <div class= "col-md-4 px-2">
        <p>
          本を考察して発信したいと思ったら…</br>
          本好きな人の集まるサイトです。</br>
        </p>
      </div>
      <div class= "col-md-8 px-2">
        <h6>参照Link</h6>
        <ul>
          <li>
            <a class="navbar-brand p-3" href="https://books.rakuten.co.jp/">楽天ブックス:https://books.rakuten.co.jp/</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>