<footer class= "bg-dark text-white pt-5 pd-4">
  <div class= "container">
    <div class= "row no-gutters">
      <div class= "col-md-6 col-sm-12 px-2">
        <p>
          本を考察して発信したいと思ったら…<br>
          本好きな人の集まるサイトです。<br>
        </p>
      </div>
      <div class= "col-md-6 col-sm-12 px-4">
        <h6>参照リンク</h6>
        <ul>
          <li>
            <a class="navbar-brand p-3" href="https://books.rakuten.co.jp/">
              楽天ブックス<br>
              :https://books.rakuten.co.jp/
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <%= link_to "管理者ページはこちら", new_admin_session_path ,class: "navbar-brand p-3" %>
          </li>
        </ul>

      </div>
    </div>
  </div>
</footer>